html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

input {
    border: none;
    background-color: inherit;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// Flexbox
.flex {
    display: flex;

    &-jsc-sb {
        justify-content: space-between;
    }
    &-jsc-centr {
        justify-content: center;
    }
    &-ai-centr {
        align-items: center;
    }
    &-row {
        flex-direction: row;
    }
    &-column {
        flex-direction: column;
    }
}
